<?xml version='1.0' encoding='UTF-8'?>
<!--
  WiX installer configuration for died (die daemon).
  Build with: cargo wix --package diec-server
  Requires:   cargo install cargo-wix
              WiX Toolset v3.14+ (candle.exe + light.exe)
  Output:     target/wix/died-<version>-x86_64-install.msi
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Id='*'
    Name='died (die daemon)'
    Publisher='diec-rust'
    Version='!(bind.FileVersion.died)'
    Language='1033'
    Codepage='1252'>
    <Package Id='*' Keywords='Installer' Description='died HTTP/JSON scan service'
      Manufacturer='diec-rust' InstallerVersion='405' InstallPrivileges='elevated'
      InstallScope='perMachine' Compressed='yes' />
    <Media Id='1' Cabinet='died.cab' EmbedCab='yes' />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='DIEDDIR' Name='died'>
          <Component Id='died' Guid='*'>
            <File Id='died' Name='died.exe' DiskId='1' Source='target\release\died.exe' KeyPath='yes'>
              <Shortcut Id='StartMenuShortcut' Directory='ProgramMenuFolder' Name='died'
                WorkingDirectory='DIEDDIR' Advertise='yes' />
            </File>
          </Component>
        </Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder' Name='Programs' />
    </Directory>
    <Feature Id='Complete' Title='died' Level='1'>
      <ComponentRef Id='died' />
    </Feature>
    <UI>
      <UIRef Id='WixUI_InstallDir' />
      <Property Id='WIXUI_INSTALLDIR' Value='ProgramFiles64Folder' />
    </UI>
  </Product>
</Wix>
